html {
  background: url(../images/wallpaper.png);
  background-size: 10% auto;

}

.cabinet,.corkboard{
  background-color: #F2e5c4;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
}

.corkboard {
  background-color: tan;
  text-align: center;
  margin: 0px auto;
  width: 1024px;
  height: 524px;

}
.corkboard .corkboard-board{
  background: url(../images/corkboard.png);
  height: 1024px;
  position: relative;
  top: -500px;
  
}

.corkboard-pin {
  background: url(../images/Pin.png);
  height: 32px;
  width: 30px;
  position: relative;
  top: -4px;
  left: 297px;
  background-size: cover;
}

.corkboard .corkboard-note {
  position: absolute;
  top: 570px;
  background: url(..//images/titlepaper.png);
  height: 361px;
  width: 652px;
  left: 191px;
  background-size: cover;
}

.corkboard h1 {
  font-size: 2em;
  margin: 0px;
  margin-top: 130px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.corkboard .tagline {
  font-size: 0.9em;
  margin-top: 5px;
}

.cabinet {
  background-color: tan;
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 30px;
  position: relative;
  
}

.cabinet-top{
  background: url(..//images/Cabinet_Top.png);
  width: 608px;
  height: 398px;
}

.cabinet-mid{
  background: url(..//images/Cabinet_Drawer.png);
  width: 608px;
  height: 350px;
}

.cabinet-bottom{
  background: url(..//images/Cabinet_Bottom.png);
  width: 608px;
  height: 174px;
  margin-bottom: 50px;
}

.cabinet-floor{
  background: url(..//images/carpet.png);
  width: 100%;
  height: 746px;
}

.drawer-entities {
  top: 125px;
}

.drawer-incidents {
  top: 425px;
}

.drawer-places {
  top: 725px;
}
